<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Helpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Helpers.Properties.Settings>
            <setting name="USER_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="DEVICE_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="DEVICE_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="FILES_DIRECTORY_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="DOWNLOADS_DIRECTORY_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="FIRST_RUN" serializeAs="String">
                <value />
            </setting>
        </Helpers.Properties.Settings>
    </userSettings>
</configuration>