<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitSynk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BitSynk.Properties.Settings>
            <setting name="USER_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="DEVICE_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="DEVICE_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="FILES_DIRECTORY_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="DOWNLOADS_DIRECTORY_NAME" serializeAs="String">
                <value />
            </setting>
        </BitSynk.Properties.Settings>
    </userSettings>
</configuration>